@import 'base';
// INDEX
.contenido{
    margin-top:160px;
    display: flex;
    justify-content: center;
    align-content: center;
}

//ALTA DE USUARIO, GRUPOS
.alta{
    h2{
        color: $colorAridos;
        text-align: center;
        margin-bottom: 40px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 50px;
        input{
            padding-left: 10px;
            color: blue;
        }
    }
}