* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  height: 65px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #dddff7;
}

.header img {
  width: 155px;
  margin: 1rem 0 0 20px;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px 0 0;
}

.header ul li {
  list-style: none;
  margin: 0 1rem;
}

.header ul li a {
  color: #292e6e;
  font-weight: 1rem;
}

.header ul li .active {
  text-decoration: underline;
  font-weight: bold;
}

.contenido {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.alta h2, .grupo_seguridad h2 {
  color: #292e6e;
  text-align: center;
  margin-bottom: 40px;
}

.alta .formulario, .grupo_seguridad .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.alta .formulario input, .grupo_seguridad .formulario input {
  padding-left: 10px;
  color: blue;
}
